<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      В списках невистачає бренда - {{brand}} та моделі - {{model}} до нього.
    </td>
  </tr>
</table>
