<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}} Вітаю. За той час, що ви до нас не заглядали. Сталося багато цікавого.
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button class="btn">
                <a href="https://movies-angular-nine.vercel.app/login">go to us</a>
            </button>
        </td>
    </tr>
</table>
