<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}} If you sent a password change request, click the button. If not, ignore this email.
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button class="btn">
                <a href="http://localhost:5004/auth/reset-password/{{actionToken}}">Submit</a>
            </button>
        </td>
    </tr>
</table>
