<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 24px; text-align: center;">
      Юзер з данними: id {{userId}}, name {{name}}, email {{userEmail}}.
    </td>
  </tr>
  <tr>
    <td style="font-size: 18px;">
      {{text}}
    </td>
  </tr>
</table>
