<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      {{name}} Вітаю. Опис машини містить неприйнятні слова. Ми попереджали три рази.
      Тепер Ваше оголошення видалено. Ви можете створити нове, але врахуте попередній досвід.
      До зустрічі на нашому сайті.
    </td>
  </tr>
</table>
