<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      {{name}} Hello. The description in the description of the machine contains unacceptable words.
      Please fix it. Until then, your sashine will not appear on our website.
    </td>
  </tr>
</table>
