<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      {{name}} Вітаю. Опис машини містить неприйнятні слова. Будь ласка, виправте його.
      До того часу, ваше оголошення не зявиться на нашому сайті.
    </td>
  </tr>
</table>
