<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}} Congratulations on successfully resetting your password!
        </td>
    </tr>
</table>
