<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}} Вітаємо, ви успішно пройшли перевірку!
        </td>
    </tr>
</table>
